body {
  background-color: #1eff00;
  background-image: url(8aefa9671a0e9583cba100380f65bc17.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19b3e6;
  color: #fff;
  font-size: 1.8em; }

